@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  
  h1{
    @apply text-6xl lg:text-8xl mb-8 my-5 ;
  }

  #tag{
    @apply inline-block bg-gray-200 p-2 m-1 rounded-sm;
  }

  p{
    @apply text-gray-500
  }

  li{
    @apply list-none
  }

  ul{
    @apply text-xl list-none list-inside;
  
  }

  strong{
    color: transparent;
    background: linear-gradient(90deg, violet, blue, green, green, blue, violet);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    transition: color 0.5s ease-in-out;
    animation: gradient 5s ease-in-out infinite, rotation 2s infinite linear;
  
  }



@media (max-width: 1024px) {
  #specialText {
    color: transparent;
    background: linear-gradient(90deg, violet, blue, green, green, blue, violet);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    transition: color 0.5s ease-in-out;
    animation: gradient 5s ease-in-out infinite, rotation 2s infinite linear;
  }
}

/* Styles for large screens */
@media (min-width: 1024px) {
  #specialText:hover {
    color: transparent; /* Equivalent to text-gray-600 in Tailwind CSS */
    background: linear-gradient(90deg, violet, blue, green, green, blue, violet);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    transition: color 0.5s ease-in-out;
    animation: gradient 5s ease-in-out infinite, rotation 2s infinite linear;

  }

}


@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes rotation {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
  

  button {
    @apply relative overflow-hidden transition-colors duration-500 ease-in-out uppercase w-auto md:w-[150px] text-left;
    
    
  }


#subButton {
    @apply bg-none italic no-underline text-left relative;
}

#subButton::after {
    content: "";
    @apply absolute inset-x-0 bottom-0 h-[1.5px] bg-blue-700 transition-all duration-500 ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
    opacity: 0;
}

#subButton:hover::after {
    transform: scaleX(1);
    opacity: 1;
}

  #videoPlayerButton{
    @apply shadow-lg drop-shadow-lg hover:scale-110 ease-in-out duration-500 transition-transform;
  }


  #navbarSection{
    @apply absolute flex flex-col items-start md:translate-x-[0%] py-5 gap-3 ;
  }

  

  

  h2{
    @apply font-medium  text-4xl py-10 md:py-5;
  }

  h3{
    @apply font-normal 
  }
  

  h4{
    @apply font-semibold md:text-xl my-2;
  }

  h5{
    @apply font-medium  md:text-lg my-2;
  }

  h6{
    @apply font-normal md:text-base my-2;
  }

  p{
    @apply py-5 ;
  }

 

  a{
    @apply hover:text-black text-sm transition-all duration-500 ease-in-out hover:scale-105 my-10;
  }

  #imageCaption{
    @apply text-sm text-gray-400 group-hover:text-blue-500 transition-colors duration-500 ease-in-out py-5 mx-auto text-right   italic;
  
  }




  iframe{
    @apply rounded-sm hover:scale-[102%] ease-in-out duration-500 transition-transform m-10 aspect-video border-none; 
  }

  video{
    @apply rounded-sm hover:scale-[102%] ease-in-out duration-500 transition-transform m-10 aspect-video;
  }

  #caption{
    @apply font-bold text-sm py-2;
  }

  #experimentTitle{
    @apply hover:font-extrabold transition-all duration-500 ease-in-out text-lg;
  }

  #experimentSection{
    @apply my-10;
  }

  #homepageLink{
    @apply w-32  text-center
  }
  #experimentDescription{
    @apply my-2 text-gray-400;
  }

  

  #fullCircle{
    @apply h-4 w-4 bg-black rounded-full mr-1;
  }

  #emailLink
  {
    @apply text-gray-400 hover:text-black hover:font-extrabold transition-all duration-500 ease-in-out;
  }

  #emptyCircle{
    @apply h-4 w-4 border border-black mr-1 ;
  }

  #references{
    @apply pt-10;
  }

  #homepageLink{
    @apply text-white;
  }

  
  
  

  
  
}



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 243, 243, 243;
  --background-end-rgb: 243, 243, 243;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 243, 243, 243;
    --background-end-rgb: 243, 243, 243;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .animate-slide-in-left {
    @apply animate-[slideInFromLeft_0.5s_ease-out];
  }

}

::-moz-selection {
  background: #cc1515;
}
::-webkit-selection {
  background: #50b82a;
}
::selection {
  background:  rgb(96 165 250);
}



