@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  
  h1{
    @apply text-6xl lg:text-8xl mb-8 my-5 text-center ;
  }

  #tag{
    @apply inline-block bg-gray-200 p-2 m-1 rounded-sm;
  }


  button{
    @apply   transition-colors duration-500 ease-in-out  underline underline-offset-8  w-auto md:w-[150px] text-blue-400  ;
  }

  #subButton{
    @apply bg-none italic text-blue-600 no-underline text-left md:text-center;
  }

  #videoPlayerButton{
    @apply shadow-lg drop-shadow-lg hover:scale-110 ease-in-out duration-500 transition-transform;
  }


  #navbarSection{
    @apply absolute flex flex-col items-start md:translate-x-[0%] py-5 gap-3 ;
  }

  

  h2{
    @apply font-medium  text-4xl py-10 md:py-5;
  }

  h3{
    @apply font-normal 
  }
  

  h4{
    @apply font-semibold md:text-xl my-2;
  }

  h5{
    @apply font-medium  md:text-lg my-2;
  }

  h6{
    @apply font-normal md:text-base my-2;
  }

  p{
    @apply py-5 ;
  }

  ul{
    @apply  ml-10 my-5;
  }

  a{
    @apply hover:text-black text-sm transition-all duration-500 ease-in-out hover:scale-105 my-10;
  }

  #imageCaption{
    @apply text-sm text-gray-400 group-hover:text-blue-500 transition-colors duration-500 ease-in-out py-5 mx-auto text-right   italic;
  
  }

 img{
  @apply rounded-sm  hover:scale-[105%] ease-in-out transition-transform duration-700
 }



  iframe{
    @apply rounded-sm hover:scale-[102%] ease-in-out duration-500 transition-transform m-10 aspect-video border-none; 
  }

  video{
    @apply rounded-sm hover:scale-[102%] ease-in-out duration-500 transition-transform m-10 aspect-video;
  }

  #caption{
    @apply font-bold text-sm py-2;
  }

  #experimentTitle{
    @apply hover:font-extrabold transition-all duration-500 ease-in-out text-lg;
  }

  #experimentSection{
    @apply my-10;
  }

  #homepageLink{
    @apply w-32  text-center
  }
  #experimentDescription{
    @apply my-2 text-gray-400;
  }

  li{
    @apply font-extralight text-gray-400 my-2 hover:text-black transition-colors duration-500 ease-in-out;
  }

  #fullCircle{
    @apply h-4 w-4 bg-black rounded-full mr-1;
  }

  #emailLink
  {
    @apply text-gray-400 hover:text-black hover:font-extrabold transition-all duration-500 ease-in-out;
  }

  #emptyCircle{
    @apply h-4 w-4 border border-black mr-1 ;
  }

  #references{
    @apply pt-10;
  }

  #homepageLink{
    @apply text-white;
  }

  
  
  

  
  
}



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 243, 243, 243;
  --background-end-rgb: 243, 243, 243;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 243, 243, 243;
    --background-end-rgb: 243, 243, 243;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-moz-selection {
  background: #cc1515;
}
::-webkit-selection {
  background: #50b82a;
}
::selection {
  background:  rgb(96 165 250);
}



